<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>SURE - Escala de Avaliação da Recuperação do uso de Substâncias Psicoativas</title>
    <link rel="stylesheet" type="text/css" href="static/estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="col-12 m-auto pt-2 pb-2" style="text-indent: 30px">
        <h1><center>Escala de Avaliação da Recuperação do uso de Substâncias Psicoativas <br> SURE</center></h1><p><p>

        <div class="col-5 m-auto pt-5 pb-4"> 
        <p><center><h6>As perguntas desta escala servem para você avaliar sua recuperação da dependência de drogas 
            (incluindo uso de remédios que não seguem prescrição médica/ ou / incluindo uso de remédios não direcionados medicamente) 
            e/ou álcool elas foram elaboradas com ajuda de usuários do serviço em tratamento para mensurar 
            o que é importante para pessoas em fase de recuperação </h6>
        </p></center>
        </div>




    </div>
          
            <center><a href="/accounts/login/" class="btn btn-dark">Entrar</a></center>






</body>
</html>
