{% extends 'account/base.html' %}

{% block content %}
    
{% load static %}
    
  
    
    <script src="{% static 'javascript.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <title>Painel de Escalas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
              <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);
          
                function drawChart() {
                  var data = google.visualization.arrayToDataTable([
                    [
                        'Ficha', 
                        'Beber e usar drogas', 
                        'Cuidados Pessoais', 
                        'Relacionamentos',
                        'Recursos materiais',
                        'Perspectiva de vida'
                        
                        ],
            {% for dbs in db %}
                    [   'Escala {{dbs.id}}',  
                        {{dbs.q01|add:dbs.q02|add:dbs.q03|add:dbs.q04|add:dbs.q05|add:dbs.q06}} ,
                        {{dbs.q07|add:dbs.q08|add:dbs.q09|add:dbs.q10|add:dbs.q11}} , 
                        {{dbs.q12|add:dbs.q13|add:dbs.q14|add:dbs.q15}},
                        {{dbs.q16|add:dbs.q17|add:dbs.q18}},
                        {{dbs.q19|add:dbs.q20|add:dbs.q21}},
                    ],
                   
            {% endfor %}                                
                  ]);
          
                  var options = {
                    title: 'Gráfico em linha das escalas',
                    curveType: 'function',
                    legend: { position: 'rigth' }
                  };
          
                  var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
          
                  chart.draw(data, options);
                }
    </script>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawSeriesChart);

    function drawSeriesChart() {

      var data = google.visualization.arrayToDataTable([
                    [
                        'Escala {{dbs.id}}', 
                        'Beber e Usar Drogas', 
                        'Total', 
                        'Relacionamentos',
                        'Cuidados Pessoais'
                        
                        
                        ],
            {% for dbs in db %}
                    [   '{{dbs.id}}',  
                        {{dbs.q01|add:dbs.q02|add:dbs.q03|add:dbs.q04|add:dbs.q05|add:dbs.q06}} ,
                        {{dbs.q01|add:dbs.q02|add:dbs.q03|add:dbs.q04|add:dbs.q05|add:dbs.q06|add:dbs.q07|add:dbs.q08|add:dbs.q09|add:dbs.q10|add:dbs.q11|add:dbs.q12|add:dbs.q13|add:dbs.q14|add:dbs.q15|add:dbs.q16|add:dbs.q17|add:dbs.q18|add:dbs.q19|add:dbs.q20|add:dbs.q21}},

                        {{dbs.q07|add:dbs.q08|add:dbs.q09|add:dbs.q10|add:dbs.q11}} , 
                        {{dbs.q12|add:dbs.q13|add:dbs.q14|add:dbs.q15}},
                    ],
                   
            {% endfor %}                                
                  ]);

      var options = {
        title: 'Gráfico em bolha das escalas | '+
        ' Tamanho da bolha = Total , Cor da bolha = Relacionamentos',
        
        colorAxis: {colors: [ 'red','green']},

        hAxis: {title: 'Beber e Usar Drogas'},
        vAxis: {title: 'TOTAL'},
        bubble: {textStyle: {fontSize: 11}}
};




      var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
      chart.draw(data, options);
    }
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
                    [
                        'Ficha', 
                        'Beber e usar drogas', 
                        'Cuidados Pessoais', 
                        'Relacionamentos',
                        'Recursos materiais',
                        'Perspectiva de vida'
                        
                        ],
            {% for dbs in db %}
                    [   'Escala {{dbs.id}}',  
                        {{dbs.q01|add:dbs.q02|add:dbs.q03|add:dbs.q04|add:dbs.q05|add:dbs.q06}} ,
                        {{dbs.q07|add:dbs.q08|add:dbs.q09|add:dbs.q10|add:dbs.q11}} , 
                        {{dbs.q12|add:dbs.q13|add:dbs.q14|add:dbs.q15}},
                        {{dbs.q16|add:dbs.q17|add:dbs.q18}},
                        {{dbs.q19|add:dbs.q20|add:dbs.q21}},
                    ],
                   
            {% endfor %}                                
                  ]);

      var view = new google.visualization.DataView(data);
      

      var options = {
                        title: 'Gráfico em barras agrupadas das escalas',
                        width: 900,
                        height: 400,
                        legend: { position: 'rigth'},
                        bar: { groupWidth: '75%' },
                        isStacked: true,
                      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>
</head>

<body>
<div id="area-paineldeescalas">
    

    

    
    <center>
    <div id="curve_chart" style="width: 900px; height: 500px;"></div>
            
          
  
    <div id="columnchart_values" style="width: 900px; height: 500px;"></div>
  
    <div id="series_chart_div" style="width: 900px; height: 500px;"></div>
   



    
    
    
    
    
    </center>
    
              
              
    <div id="p-3 mb-3 bg-dark">Todos os Direitos Reservados - UNIVESP 2022</div>

    
</div>





    

</body>
</html>                
{% endblock %}